@import url('https://fonts.googleapis.chttps://fonts.google.com/specimen/Oswaldom/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,900&display=swap');



.navbar-custom {
    background-color: #212529;
    color: #fff;
    font-weight: bold;
    border-radius: 0;
    margin-bottom: 0;
}

.navbar-custom .navbar-brand {
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar-custom .nav-link {
    color: #fff;
    font-size: 1.2rem;
    margin-right: 1rem;
}

.navbar-custom .nav-link:hover {
    color: #ffc107;
}

.cotainerx{
    max-width: 968px;
    margin-left: auto;
    margin-right: auto;
}

.main-color{
    color: #06BEE1;
}

.home{
    background: url('src/Gambar\ Bg1.jpg') no-repeat center;
      background-repeat: no-repeat;
      background-size: cover;
}

.sectionthree{
        background: url('src/Gambar\ BgTwo.jpg') no-repeat center;
      background-repeat: no-repeat;
      background-size: cover;
}

.sectionfour__img{
    
  background-repeat: no-repeat;
  background-size: cover;
}

.sectionfour__bg1{
    background: url('src/Kotornya\ laut.jpg') no-repeat center;
}

.sectionfour__bg2{
    background: url('src/Daur_ulang.jpg') no-repeat center;
}

.sectionfour__bg3{
    background: url('src/Jaring\ Kotori\ laut\ .jpg') no-repeat center;
}

.sectionfour__bg4{
    background: url('src/Gambar\ Jaring\ Baru.jpg') no-repeat center;
  
}




.section{
    padding: 6rem 0 2rem;
}  

.imglogo{
    
   width: 50px;
   height: 50px;
  
}




